pipeline_personal_finance/dbt_finance/logs
pipeline_personal_finance/dbt_finance/dbt_packages
pipeline_personal_finance/dbt_finance/target
pipeline_personal_finance/qif_files
postgres
__pycache__
tmp
/tmp*
runs.db
index.db
schedules.db
*.qif
*.db-shm
*.db-wal
*.wal
*.duckdb
*.db
*.complete
*.err
*.out
*.log
*.logs
*.csv
*.ods
.env
!pipeline_personal_finance/dbt_finance/macros
.venv
