services:
  grafana:
    environment:
      - GF_INSTALL_PLUGINS=marcusolsson-duckdb-datasource
    volumes:
      - ./pipeline_personal_finance/dbt_finance/duckdb:/var/lib/grafana/duckdb
      - ./grafana/provisioning_local/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
