services:
  grafana:
    environment:
      - GF_PLUGINS_PREINSTALL=motherduck-duckdb-datasource@https://github.com/motherduckdb/grafana-duckdb-datasource/releases/download/v0.4.0/motherduck-duckdb-datasource-0.4.0.zip
    volumes:
      - ./pipeline_personal_finance/dbt_finance/duckdb:/var/lib/grafana/duckdb
      - ./grafana/provisioning_local/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
